
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contact</h1>

  <div class="header-block row d-flex align-items-center mx-auto">
        <img src="images/contactusBootstrap/keyBoard_img.jpg" alt="Contact">
        <div class="text-block mx-auto text-center ">
            CONTACT US
        </div>
    </div>

    <div class="my-5">
        <div class="main-container shadow container mx-auto py-3">

            <div class="d-flex justify-content-center p-1">
                <div class=" headings text-center text-primary h2 font-weight-bold">
                    Get In Touch
                </div>
            </div>

            <div class="p-2">

                <div class="ml-4 h4">Leave us a message</div>
                <div class="row m-2">

                    <div class="container mx-auto col-xl-6 col-md-6 col-12">
                        <form>
                            <div>
                                <input type="text" id="name" placeholder="Name">
                            </div>

                            <div>
                                <input type="email" placeholder="Email Address">
                            </div>

                            <div>
                                <textarea name="" id="" cols="30" rows="8" placeholder="Your Message"></textarea>
                            </div>

                            <div>
                                <input type="submit" value="Send" class="font-weight-bold btn btn-primary">
                            </div>
                        </form>
                    </div>

                    <div class="container mx-auto col-xl-6 col-md-6 col-12">

                        <div class="mb-2 mx-2">Government Engineering College, Patan</div>

                        <div class="m-2">+91 081-1236-4568</div>

                        <div class="m-2">help@gec.gtu.edu</div>

                        <div class="m-2">
                            <a href="#" class="text-dark mr-2">
                                <i class="fa fa-youtube-play fa-lg"></i>
                            </a>
                            <a href="#" class="text-dark">
                                <i class="fa fa-instagram fa-lg"></i>
                            </a>
                            <a href="#" class="text-dark">
                                <i class="fa fa-facebook fa-lg"></i>
                            </a>
                            <a href="#" class="text-dark">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                        </div>

                        <div class="m-2 py-4">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.260248592273!2d72.10120971462545!3d23.809342992439777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c7d0db6c534b3%3A0x34c9aef47a82f519!2sGovernment%20Engineering%20College%2C%20Patan!5e0!3m2!1sen!2sin!4v1659109721804!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>