
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="@Url.Content("~/css/principal.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/overview.css")" rel="stylesheet" />
}

<div class="depaprtment hearderset">
        <img src="~/images/aboutus/about2.jpg" />
    <h2 class="centered text-white">ABOUT US</h2>
    <p class="speciname">OVERVIEW</p>
</div>
@foreach(var item in Model){
<div class="row my-2 pad-2">
    <div class="col-md-6">
        <div class="principal bg-college pad-b-120"></div>
    </div>
    <div class="col-md-6">
        <p class="description">
                @item.Description
        </p>

    </div>
</div>

<div class="depart ">
    <div class="text-center text-black hearderset1">
        <h2>Departments</h2>
        <div class="boxes">
            <div class="box">
                <img src="images/aboutus/imac.png" alt="">
                <h5>Computer</h5>
                <div class="box1">
                    <h6>Intake:150</h6>
                </div>
            </div>
            <div class="box">
                <img src="images/aboutus/engineering.png" alt="">
                <h5>Civil</h5>
                <div class="box1">
                    <h6>Intake:120</h6>
                </div>
            </div>
            <div class="box">
                <img src="images/aboutus/circuit.png" alt="">
                <h5>EC</h5>
                <div class="box1">
                    <h6>Intake:30</h6>
                </div>
            </div>
            <div class="box">
                <img src="images/aboutus/electricity.png" alt="">
                <h5>Electical</h5>
                <div class="box1">
                    <h6>Intake:75</h6>
                </div>
            </div>
            <div class="box">
                <img src="images/aboutus/support.png" alt="">
                <h5>Mechanical</h5>
                <div class="box1">
                    <h6>Intake:75</h6>
                </div>
            </div>
        </div>
    </div>
</div>
}
