@using System.Web
@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="@Url.Content("~/css/principal.css")" rel="stylesheet" />
}

<div class="depaprtment hearderset">
        <img src="~/images/aboutus/about2.jpg" />
	<h2 class="centered text-white">ABOUT US</h2> 
	<p class="speciname">PRINCIPAL</p>
</div>
@foreach(var item in Model){
<div class = "container">
    <div class="row my-3 p-4">
        <div class="col-md-6 mx-auto">
            <div class=" bg-principal">
                    <img src="~/images/aboutus/vision.jpg" />
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="NA-head h3">Principal's Message</div>
            <p class="pt-2 description">
                    @Html.Raw(HttpUtility.HtmlDecode(item.PrincipalMessage))
            </p>

        </div>
    </div>

</div>
}

<div class="bg-brown white slogan-container">
    <div class="row">
        <div class="slogan">वदि्या वहिीनः पशुः</div>

        <div class="verline bg-blue"></div>

        <div class="slogan">वदि्या एव सर्वधनम्</div>

    </div>
</div>

