@{
    ViewData["Title"] = "VisionMission page";
    Layout = "~/views/shared/_layout.cshtml";
}
@section Styles{
    <link href="@Url.Content("~/css/vision.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/principal.css")" rel="stylesheet" />
}
    <div class="depaprtment hearderset">
        <img src="~/images/aboutus/about2.jpg" />
        <h2 class="centered text-white">ABOUT US</h2>
        <p class="speciname">VISION & MISSION</p>
    </div>

    <div class="row bg-ghostwhite">
        <div class="col-md-6 p-4 mt-2">
            <div class="bg-vis principal"></div>
        </div>
        <div class="col-md-6 p-4 mt-2">
            <div class="NA-head h3">Vision</div>
            <p class="pt-2 text-justify">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                accident, sometimes on purpose (injected humour and the like).
            </p>

        </div>
    </div>
    <div class="row bg-ghostwhite">
        <div class="col-md-6 p-4 mb-2">
            <div class="NA-head h3">Mission</div>
            <p class="pt-2 text-justify">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                accident, sometimes on purpose (injected humour and the like).
            </p>

        </div>
        <div class="col-md-6 p-4 mb-2">
            <div class="bg-mis principal"></div>
        </div>
    </div>