@using System.Web
@{
    ViewData["Title"] = "VisionMission page";
    Layout = "~/views/shared/_layout.cshtml";
}
@section Styles{
    <link href="@Url.Content("~/css/vision.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/principal.css")" rel="stylesheet" />
}
    <div class="depaprtment hearderset">
        <img src="~/images/aboutus/about2.jpg" />
        <h2 class="centered text-white">ABOUT US</h2>
        <p class="speciname">VISION & MISSION</p>
    </div>

    <div class="row bg-ghostwhite">
        <div class="col-md-6 p-4 mt-2">
            <div class="bg-vis principal"></div>
        </div>
        <div class="col-md-6 p-4 mt-2">
            <div class="NA-head h3">Vision</div>
            <p class="pt-2 text-justify">
                @Html.Raw(HttpUtility.HtmlDecode(Model.vission))
            </p>

        </div>
    </div>
    <div class="row bg-ghostwhite">
        <div class="col-md-6 p-4 mb-2">
            <div class="NA-head h3">Mission</div>
            <p class="pt-2 text-justify">
                @Html.Raw(HttpUtility.HtmlDecode(Model.mission))
            </p>

        </div>
        <div class="col-md-6 p-4 mb-2">
            <div class="bg-mis principal"></div>
        </div>
    </div>