
@{
    ViewData["Title"] = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/stylesheet.css" rel="stylesheet" />
}
<div class=" header-block row d-flex align-items-center mx-auto">
        <img src="~/images/events/event-holi.jpg" alt="Contact">
        <div class="object-block text-block mx-auto text-center d-flex align-items-center justify-content-center">
            EVENTS
        </div>
    </div>

<div class="ev-container">
        <h3>GALLERY</h3>
        <h1>PHOTOS OF OUR EVENTS</h1>

    </div>

    <!---gallery-->
    <div class="row">
        @foreach(var item in Model){
            @if (item.GalleryTagId >= 700){

                <div class="gallery col-md-3 col-sm-6 p-0 overflow-hidden">
                    <div class="effect">
                        <img src="@item.Image" class="gal-img">
                        <div class=" w-60 row mx-auto mg-glass"><a href="#" class="fa fa-search text-white   icone1"></a></div>
                    </div>
                </div>
            }
        }
    </div>

    <div class="row">
    @foreach (var item in Model)
    {
        @if (item.GalleryTagId >= 700)
        {

            <div class="gallery col-md-3 col-sm-6 p-0 overflow-hidden">
                <div class="effect">
                    <img src="@item.Image" class="gal-img">
                    <div class=" w-60 row mx-auto mg-glass"><a href="#" class="fa fa-search text-white   icone1"></a></div>
                </div>
            </div>
        }
    }
    </div>

    <!--speaker-container-->

    <div class="ev-speaker">
        <h5>MEET OUR SPEAKER</h5>
        <h1>OUR EVENT SPEAKERS</h1>
    </div>
    <!--- <div class="ev-speaker p-4 position-absulate">
     </div>-->

    <!--ev-speakerimg-->
    <div class="ev-speaker-2">
        <div class="row ">
            <div class="gallery  col-md-3">
                <div class="temp">
                    <img class="sp-img position-relative" src="~/images/events/sp-1.jpg">
                    <div class="overlay2"></div>
                    <div class=" position-absolute text-white ev-name justify-content-sm-around ">
                        <h5>LLOYD WILSON</h5>
                        <h6> DEVLOPER</h6>
                    </div>
                    <div class="col-8 row position-absolute justify-content-sm-around mx-auto fa-bar">
                        <div class="soc-1"><a href="#" class="fa fa-twitter text-white"></a></div>
                        <div class="soc-1"><a href="#" class="fa fa-facebook-f text-white"></a></div>
                        <div class="soc-1"> <a href="#" class="fa fa-google text-white"></a></div>
                        <div class="soc-1"><a href="#" class="fa fa-instagram text-white"></a></div>
                    </div>
                </div>
            </div>
            <div class="gallery  col-md-3 ">
                <div class="temp">
                    <img class="sp-img position-relative" src="~/images/events/sp-4.jpg">
                    <div class="overlay2"></div>
                    <div class=" position-absolute text-white ev-name justify-content-sm-around">
                        <h5>LLOYD WILSON</h5>
                        <h6>WEB DEVLOPER</h6>
                    </div>
                    <div class="col-8 row position-absolute justify-content-sm-around mx-auto fa-bar">
                        <div class="soc-1"><a href="#" class="fa fa-twitter text-white"></a></div>
                        <div class="soc-1"><a href="#" class="fa fa-facebook-f text-white"></a></div>
                        <div class="soc-1"> <a href="#" class="fa fa-google text-white"></a></div>
                        <div class="soc-1"><a href="#" class="fa fa-instagram text-white"></a></div>
                    </div>
                </div>
            </div>

            <div class="gallery  col-md-3 ">
                <div class="temp">
                    <img class="sp-img position-relative" src="~/images/events/sp-3.jpg">
                    <div class="overlay2"></div>
                    <div class=" position-absolute text-white ev-name justify-content-sm-around">
                        <h5>LLOYD WILSON</h5>
                        <h6>WEB DEVLOPER</h6>
                    </div>
                    <div class="col-8 row position-absolute justify-content-sm-around mx-auto fa-bar">
                        <div class="soc-1"><a href="#" class="fa fa-twitter text-white"></a></div>
                        <div class="soc-1"><a href="#" class="fa fa-facebook-f text-white"></a></div>
                        <div class="soc-1"> <a href="#" class="fa fa-google text-white"></a></div>
                        <div class="soc-1"><a href="#" class="fa fa-instagram text-white"></a></div>
                    </div>
                </div>
            </div>

            <div class="gallery  col-md-3">
                <div class="temp">
                    <img class="sp-img position-relative" src="~/images/events/sp-4.jpg">
                    <div class="overlay2"></div>
                    <div class=" position-absolute text-white ev-name">
                        <h5>LLOYD WILSON</h5>
                        <h6>WEB DEVLOPER</h6>
                    </div>
                    <div class="col-8 row position-absolute justify-content-sm-around mx-auto fa-bar">
                        <div class="soc-1 "><a href="#" class="fa fa-twitter text-white"></a></div>
                        <div class="soc-1 "><a href="#" class="fa fa-facebook-f text-white"></a></div>
                        <div class="soc-1 "> <a href="#" class="fa fa-google text-white"></a></div>
                        <div class="soc-1 "><a href="#" class="fa fa-instagram text-white"></a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--ev-search header-->

    <div class="ev-searchheader position-relative">
        <h1>Subscribe to our newsletter</h1>
        <p> far far away, behind the word mountains, far from the countries vokalia and <br> conssonantia, there live
            the blind texts,separated they live in</p>
        <form class="search p-2">
            <input type="email" placeholder="Enter email address">
            <button type="submit" value="subscribe">subscribe</button>
        </form>
    </div>
    <!--blog-->

    <div class="ev-blog">
        <h5>Our blog</h5>
        <h2>Recent <b>Blog</b></h2>
    </div>

    <!--blog-img-->
    <div class="row  w-60  justify-content-sm-around mx-auto">

        <div class="owl-carousel owl-theme">

            <div class="item">
                <div class="h-100">
                    <img class="w-100" src="~/images/events/bl-5.jpg">
                    <div class="p-2 bg-gwhite">
                        <div class="row ">
                            <h1 class="gred">07</h1>
                            <div class="gray">2019<br>january</div>
                            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p>Eaque voluptates delectus aperiam, saepe perferendis ad repellat. Iure, fugit aliquam. Veniam
                                accusantium eos quos nesciunt ad qui architecto ipsam dignissimos at.</p>
                            <a class="btn btn-primary btn-block popup-trigger" data-target="#popup1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="h-100">
                    <img class="w-100" src="~/images/events/bl-6.jpg">
                    <div class="p-2 bg-gwhite">
                        <div class="row ">
                            <h1 class="gred">08</h1>
                            <div class="gray">2019<br>january</div>
                            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p>Eaque voluptates delectus aperiam, saepe perferendis ad repellat. Iure, fugit aliquam. Veniam
                                accusantium eos quos nesciunt ad qui architecto ipsam dignissimos at.</p>
                            <a class="btn btn-primary btn-block popup-trigger" data-target="#popup2">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="h-100">
                    <img class="w-100" src="~/images/events/bl-7.jpg">
                    <div class="p-2 bg-gwhite">
                        <div class="row ">
                            <h1 class="gred">06</h1>
                            <div class="gray">2019<br>january</div>
                            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p>Eaque voluptates delectus aperiam, saepe perferendis ad repellat. Iure, fugit aliquam. Veniam
                                accusantium eos quos nesciunt ad qui architecto ipsam dignissimos at.</p>
                            <a class="btn btn-primary btn-block  popup-trigger" data-target="#popup3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="h-100">
                    <img class="w-100" src="~/images/events/bl-5.jpg">
                    <div class="p-2 bg-gwhite">
                        <div class="row ">
                            <h1 class="gred">09</h1>
                            <div class="gray">2019<br>january</div>
                            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p>Eaque voluptates delectus aperiam, saepe perferendis ad repellat. Iure, fugit aliquam. Veniam
                                accusantium eos quos nesciunt ad qui architecto ipsam dignissimos at.</p>
                            <a class="btn btn-primary btn-block popup-trigger" data-target="#popup4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="h-100">
                    <img class="w-100" src="~/images/events/bl-5.jpg">
                    <div class="p-2 bg-gwhite">
                        <div class="row ">
                            <h1 class="gred">10</h1>
                            <div class="gray">2019<br>january</div>
                            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p>Eaque voluptates delectus aperiam, saepe perferendis ad repellat. Iure, fugit aliquam. Veniam
                                accusantium eos quos nesciunt ad qui architecto ipsam dignissimos at.</p>
                            <a class="btn btn-primary btn-block popup-trigger" data-target="#popup5">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="h-100">
                    <img class="w-100" src="~/images/events/bl-5.jpg">
                    <div class="p-2 bg-gwhite">
                        <div class="row ">
                            <h1 class="gred">11</h1>
                            <div class="gray">2019<br>january</div>
                            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p>Eaque voluptates delectus aperiam, saepe perferendis ad repellat. Iure, fugit aliquam. Veniam
                                accusantium eos quos nesciunt ad qui architecto ipsam dignissimos at.</p>
                            <a class="btn btn-primary btn-block popup-trigger" data-target="#popup6">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="h-100">
                    <img class="w-100" src="~/images/events/bl-5.jpg">
                    <div class="p-2 bg-gwhite">
                        <div class="row ">
                            <h1 class="gred">12</h1>
                            <div class="gray">2019<br>january</div>
                            <p class="font-weight-bold">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            <p>Eaque voluptates delectus aperiam, saepe perferendis ad repellat. Iure, fugit aliquam. Veniam
                                accusantium eos quos nesciunt ad qui architecto ipsam dignissimos at.</p>
                            <a class="btn btn-primary btn-block popup-trigger" data-target="#popup7">Read More</a>
                        </div>
                    </div>
                </div>
            </div>  
        
        </div>
    </div>


    <div id="popup1" class="popup">
        <!-- <div class="popuphe">
            <h4>Blog Name</h4>
        </div> -->

        <div class="popupr">
            <div class="leftcolumn">
                <div class="card">
                    <h2 class="popuphe">TITLE HEADING</h2>
                    <h4 class="popuphe">Title description, Dec 7, 2017</h4>
                    <div class="fakeimg">
                        <img src="~/images/events/bl-5.jpg" alt="">
                    </div>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco.</p>
                </div>
            </div>
        </div>
        <span class="popup-btn-close">&times;</span>
    </div>


    <div id="popup2" class="popup">
        <!-- <div class="popuphe">
            <h4>Blog Name</h4>
        </div> -->

        <div class="popupr">
            <div class="leftcolumn">
                <div class="card">
                    <h2 class="popuphe">TITLE HEADING</h2>
                    <h4 class="popuphe">Title description, Dec 7, 2017</h4>
                    <div class="fakeimg">
                        <img src="~/images/events/bl-6.jpg" alt="">
                    </div>
                    <p>Some text..</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, exercitationem nihil, quae
                        provident odio suscipit maxime consequatur laboriosam facere animi, inventore fuga accusamus.
                        Doloribus, totam, voluptatem sapiente pariatur facilis fugiat atque a vitae tempore rem magni
                        laboriosam enim deleniti aperiam vel facere rerum voluptatum? Minus sequi tempora illum dolorum
                        molestiae! Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrud exercitation ullamco.</p>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium asperiores consequatur
                        earum nisi nulla, eaque officiis ex iusto dolores optio vero tempore maiores, eveniet odio
                        soluta error corporis facilis atque quibusdam aliquid quas delectus vel nesciunt ut. Eius ipsam
                        laborum reiciendis accusamus suscipit aut cupiditate aperiam optio. Nesciunt similique
                        recusandae explicabo debitis iste labore tempora deleniti et dignissimos corrupti blanditiis
                        consequatur sapiente, pariatur ipsam omnis nisi. Itaque unde dolorem ut, adipisci, ea voluptas
                        illo aliquam, magni dicta dolores facilis amet eius laborum quia neque natus. Commodi, pariatur
                        suscipit. Consectetur labore iste quasi blanditiis reiciendis totam quaerat voluptatum eum quas
                        perferendis!</p>
                </div>

            </div>
        </div>
        <span class="popup-btn-close">&times;</span>
    </div>

    <div id="popup3" class="popup">
        <!-- <div class="popuphe">
            <h4>Blog Name</h4>
        </div> -->

        <div class="popupr">
            <div class="leftcolumn">
                <div class="card">
                    <h2 class="popuphe">TITLE HEADING</h2>
                    <h4 class="popuphe">Title description, Dec 7, 2017</h4>
                    <div class="fakeimg">
                        <img src="~/images/events/bl-5.jpg" alt="">
                    </div>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco.</p>
                </div>
            </div>
        </div>
        <span class="popup-btn-close">&times;</span>
    </div>

    <div id="popup4" class="popup">
        <!-- <div class="popuphe">
            <h4>Blog Name</h4>
        </div> -->

        <div class="popupr">
            <div class="leftcolumn">
                <div class="card">
                    <h2 class="popuphe">TITLE HEADING</h2>
                    <h4 class="popuphe">Title description, Dec 7, 2017</h4>
                    <div class="fakeimg">
                        <img src="~/images/events/bl-5.jpg" alt="">
                    </div>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco.</p>
                </div>
            </div>
        </div>
        <span class="popup-btn-close">&times;</span>
    </div>

    <div id="popup5" class="popup">
        <!-- <div class="popuphe">
            <h4>Blog Name</h4>
        </div> -->

        <div class="popupr">
            <div class="leftcolumn">
                <div class="card">
                    <h2 class="popuphe">TITLE HEADING</h2>
                    <h4 class="popuphe">Title description, Dec 7, 2017</h4>
                    <div class="fakeimg">
                        <img src="~/images/events/bl-5.jpg" alt="">
                    </div>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco.</p>
                </div>
            </div>
        </div>
        <span class="popup-btn-close">&times;</span>
    </div>

    <div id="popup6" class="popup">
        <!-- <div class="popuphe">
            <h4>Blog Name</h4>
        </div> -->

        <div class="popupr">
            <div class="leftcolumn">
                <div class="card">
                    <h2 class="popuphe">TITLE HEADING</h2>
                    <h4 class="popuphe">Title description, Dec 7, 2017</h4>
                    <div class="fakeimg">
                        <img src="~/images/events/bl-5.jpg" alt="">
                    </div>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco.</p>
                </div>
            </div>
        </div>
        <span class="popup-btn-close">&times;</span>
    </div>

    <div id="popup7" class="popup">
        <!-- <div class="popuphe">
            <h4>Blog Name</h4>
        </div> -->

        <div class="popupr">
            <div class="leftcolumn">
                <div class="card">
                    <h2 class="popuphe">TITLE HEADING</h2>
                    <h4 class="popuphe">Title description, Dec 7, 2017</h4>
                    <div class="fakeimg">
                        <img src="~/images/events/bl-5.jpg" alt="">
                    </div>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco.</p>
                </div>
            </div>
        </div>
        <span class="popup-btn-close">&times;</span>
    </div>