
@{
    ViewData["Title"] = "Electrical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="~/css/faculty.css" rel="stylesheet" />
}
<div class="header-block row d-flex align-items-center mx-auto">
    <img src="~/images/faculty/cse2.jpg">
    <div class="text-block mx-auto d-flex align-items-center justify-content-center"> Faculty OF Electrical </div>
</div>

<!-- Main DEsign -->
<div class="container mt-4">
    <div class="row">
        @foreach (var faculty in Model)
        {
            @if (faculty.DeptId == 7)
            {

                <div class="col-md-4 col-sm-6 col-xs-12 ">
                    <div class="row ourTeam-box text-center shadow">
                        <div class="col-md-12 section1">
                            <img src="@faculty.Image">
                        </div>
                        <div class="col-md-12 section2 pb-3">
                            <h5>@faculty.Name</h5>
                            <span>@faculty.Designation</span>
                        </div>
                        <a href="@Url.Action("FacultyView","Faculty",new {@id=faculty.Id})" class="nomargin section3 text-white">
                            <div class="col-md-12"> view </div>
                        </a>
                    </div>
                </div>

            }
        }
    </div>
</div>