
@{
    ViewData["Title"] = "Mechanical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="header-block row d-flex align-items-center mx-auto">
    <img src="images/faculty/cse2.jpg">
    <div class="text-block mx-auto d-flex align-items-center justify-content-center"> Faculty of Mechanical </div>
</div>

<!-- Main DEsign -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="row ourTeam-box text-center shadow">
                <div class="col-md-12 section1">
                    <img src="images/faculty/mechanical/anandMech.jpg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <h5>Mr. ANAND DHRUV</h5>
                    <span>Assistant Professor</span>
                </div>
                <a href="#" class="nomargin section3 text-white">
                    <div class="col-md-12"> view </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="row ourTeam-box text-center shadow">
                <div class="col-md-12 section1">
                    <img src="images/faculty/mechanical/KamleshpMech.jpg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <h5>Mr. KAMLESHKUMAR PANSAL</h5>
                    <span>Assistant Professor</span>
                </div>
                <a href="#" class="nomargin section3 text-white">
                    <div class="col-md-12"> view </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="row ourTeam-box text-center shadow">
                <div class="col-md-12 section1">
                    <img src="images/faculty/mechanical/miteshMech.jpg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <h5>Mr. MITESHKUMAR PATEL</h5>
                    <span>Assistant Professor</span>
                </div>
                <a href="#" class="nomargin section3 text-white">
                    <div class="col-md-12"> view </div>
                </a>
            </div>
        </div>

    </div>
</div>