
@{
    ViewData["Title"] = "WomenCell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="@Url.Content("~/css/cells.css")" rel="stylesheet" />
}

<!--  Cell container   -->

    <!-- 1 - background image with title -->
<div class="header-block row d-flex align-items-center mx-auto">
    <img src="~/images/cells/women.jpg" />
        <div class="text-block mx-auto text-block mx-auto d-flex align-items-center justify-content-center">
            Women cell
        </div>
    </div>

    <!-- 2 - About women cell row -->
    <div class="about-women-cell row align-items-center mt-5">
        <div class="img-student d-flex justify-content-center mx-auto col-md-6 col-lg-6 col-xl-6 col-12 ">
            <img src="~/images/cells/students4.jpg" />
        </div>

        <div class="col-md-6 col-lg-6 col-xl-6 col-12 p-5">
            <div class="headings h4 font-weight-bold">About Women Cell</div>
            <div class="mt-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quibusdam aspernatur
                inventore commodi aliquid autem illo nemo vitae rem veritatis repellat magni, cupiditate sed provident
                officiis voluptatem voluptas error magnam minus, id expedita! Omnis minus, iste ad error sit odio
                provident dolorem placeat veniam amet cupiditate incidunt maxime veritatis cum reprehenderit deleniti
                nemo quibusdam eius possimus labore eligendi, ullam blanditiis? Tempora amet deleniti aspernatur
                voluptatibus ex eos cum repellat dolor?
                magnam minus, id expedita! Omnis minus, iste ad error sit odio
                provident dolorem placeat veniam amet cupiditate incidunt maxime veritatis cum reprehenderit deleniti                
            </div>
        </div>
    </div>

    <!-- 3 - Vision-Mission row -->
    <div class="row align-items-center mt-5 mb-5">
        <div class="bg-dark text-white col-md-6 col-lg-6 col-xl-6 col-12 p-5">
            <div class="headings h4 font-weight-bold">Vision</div>
            <div class="mt-4 text-justify">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, iure! Autem aperiam
                atque, minus maiores perferendis et fugiat eligendi perspiciatis animi! Amet, corrupti atque, rem
                ratione commodi ad enim autem debitis qui illum blanditiis facilis consectetur, voluptatibus voluptas
                odio odit? Neque explicabo nisi voluptatem alias, amet nostrum, possimus exercitationem iure facilis
                fugiat commodi. Magni animi omnis optio nobis id unde.
            </div>
        </div>

        <div class="bg-light text-dark col-md-6 col-lg-6 col-xl-6 col-12 p-5">
            <div class="headings h4 font-weight-bold">Mission</div>
            <div class="mt-4 text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facilis rerum eum adipisci
                exercitationem autem vel quasi aspernatur. Et harum architecto soluta esse veritatislaudantium, nam
                voluptatibus minima dolores voluptatum quis, itaque provident alias amet. Veritatis, atque architecto?
                Mollitia, possimus veritatis quae itaque, quo magni omnis, illo inventore cumque illum esse quisquam
                recusandae cum maxime placeat? Expedita eligendi enim reiciendis.
            </div>
        </div>
    </div>


    <!-- 4 - Activities -->
    <div class="mx-5 my-3">
        <div class="h4 text-center font-weight-bold">ACTIVITIES</div>
        <div class="text-center font-weight-bold text-blue mb-4">Some Random tagline related to the cell</div>
        <div class="owl-carousel owl-theme">
            <div class="item">
            <img src="~/images/cells/book.jpg" />
            </div>
            <div class="item">
            <img src="~/images/cells/book.jpg" />
            </div>
            <div class="item">
            <img src="~/images/cells/book.jpg" />
            </div>
            <div class="item">
            <img src="~/images/cells/book.jpg" />
            </div>
            <div class="item">
            <img src="~/images/cells/book1.jpg" />
            </div>
            <div class="item">
            <img src="~/images/cells/book1.jpg" />
            </div>
            <div class="item">
            <img src="~/images/cells/book1.jpg" />
            </div>
            <div class="item">
            <img src="~/images/cells/book1.jpg" />
            </div>
            <div class="item">
            <img src="~/images/cells/book1.jpg" />
            </div>
            <div class="item">
            <img src="~/images/cells/book.jpg" />
            </div>
        </div>
    </div>

    <!-- 5 - Objectives -->
    <div class="objectives">
        <!-- <img src="images/cells//studentclass.jpg" alt=""> -->

        <div class="object-block  mt-5 p-5">

            <div class="text-center d-flex justify-content-center">
                <div class="headings h4 text-center font-weight-bold text-white mb-4">OBJECTIVES</div>
            </div>

            <div class="row mt-5">
                <div class="col-md-4 col-lg-4 col-xl-4 col-12 text-white">
                    <div class="num h1 my-3">01</div>
                    <div class="title h4 my-3">REACH</div>
                    <div class="text text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere perspiciatis delectus ducimus
                        optio, numquam provident quis aut vitae cum possimus doloremque minus aperiam ipsum adipisci
                        omnis! Magnam debitis eum consequuntur!
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-12 text-white">
                    <div class="num h1 my-3">02</div>
                    <div class="title h4 my-3">BENEFICIAL</div>
                    <div class="text text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere perspiciatis delectus ducimus
                        optio, numquam provident quis aut vitae cum possimus doloremque minus aperiam ipsum adipisci
                        omnis! Magnam debitis eum consequuntur!
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-12 text-white">
                    <div class="num h1 my-3">03</div>
                    <div class="title h4 my-3">EMPOWER</div>
                    <div class="text text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere perspiciatis delectus ducimus
                        optio, numquam provident quis aut vitae cum possimus doloremque minus aperiam ipsum adipisci
                        omnis! Magnam debitis eum consequuntur!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 6 - Meet our team -->
    <div class="meet-our-team p-5 bg-light">
        
        <div class="p-2"> <div class="headings h4 font-weight-bold">Meet Our Team</div>  </div>
        <div class="row align-items-center">
            <div class="owl-carousel owl-theme" id="owlMeet">
                <div class="item">
                    <div class="mx-auto p-2">
                        <div class="image">
                        <img src="~/images/cells/kelly-sikkema-JN0SUcTOig0-unsplash.jpg" id="meetTeamImg1" class="image-img image-overlay-blur img-fluid" alt="">
                            <div class="image-overlay text-center">
                                <div class="img-title font-weight-bold">Kelly Sikkema</div>
                                <p class="img-desc">CEO</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "item">
                    <div class="mx-auto p-2">
                        <div class="image">
                        <img src="~/images/cells/kelly-sikkema-JN0SUcTOig0-unsplash.jpg" id="meetTeamImg1" class="image-img image-overlay-blur img-fluid" alt="">
                            <div class="image-overlay text-center">
                                <div class="img-title font-weight-bold">Kelly Sikkema</div>
                                <p class="img-desc">CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class = "item">
                    <div class="mx-auto p-2">
                        <div class="image">
                        <img src="~/images/cells/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" id="meetTeamImg1" class="image-img image-overlay-blur img-fluid" alt="">
                            <div class="image-overlay text-center">
                                <div class="img-title font-weight-bold">Christopher Campbell</div>
                                <p class="img-desc">CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class = "item">
                    <div class="mx-auto p-2">
                        <div class="image">
                        <img src="~/images/cells/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" id="meetTeamImg1" class="image-img image-overlay-blur img-fluid" alt="">
                            <div class="image-overlay text-center">
                                <div class="img-title font-weight-bold">Christopher Campbell</div>
                                <p class="img-desc">CEO</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>

    <div class="photo-gallery mx-4 my-5">
        <div class="text-center d-flex justify-content-center align-items-center">
            <div class="headings h4 mb-4 font-weight-bold"> Photo Gallery</div>
        </div>
        <div class="owl-carousel owl-theme owl-loaded align-items-center p-3">
            <div class="owl-stage-outer  ">
                <div class="owl-stage">
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item ">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                    <div class="owl-item">
                    <img src="~/images/cells/photogallery1.jpg" />
                    </div>
                </div>
            </div>
            
        </div>
    </div>

