
@{
    ViewData["Title"] = "Placements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/css/responsive.dataTables.min.css">
    <link href="~/css/stylesheet.css" rel="stylesheet" />

    <link href="@Url.Content("~/css/principal.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/overview.css")" rel="stylesheet" />

}
@section Script{
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script src="/js/aninum/jquery.animateNumber.min.js"></script>
    <script src="/js/carouselowl/owl.carousel.js"></script>

     <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
    <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>

}
<!--  Cell container   -->


        <!-- 1 - background image with title -->
@*
        <div class="header-block d-flex align-items-center mx-auto">
            <!-- <div class="row">   -->
            <img src="~/images/tpo/tpo.jpg.jpg" alt="Training And Placement Cell">
            <div class="text-block mx-auto text-block mx-auto d-flex align-items-center justify-content-center ">
                Training And Placement Cell
            </div>
        </div>

        <!-- 5 - Objectives -->
        <div class="plac-card mx-auto justify-content-center">
            <div class="plac-block  mt-5 p-5">
                <div class="text-center d-flex justify-content-center ">
                    <div class="headings h4 text-center font-weight-bold text-white mb-4 plac-title">
                        <h1>Placmeant <span> Info </span></h1>
                    </div>
                </div>

                
                    <table>
                        <tr>
                            <td>
                                <div class="text-white M-1">
                                    <h2>Year</h2>
                            </td>
            </div>
            <td>
                <div class="menu2">
                    <select name="year" class="my-menu4">
                        <option value="2018" size="40">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="all">all</option>
                    </select>
                </div>
            </td>
            </tr>
            <tr>
                <td>
                    <div class="text-white M-1">
                        <h2>Department</h2>
                </td>
        </div>
        <td>
            <div class="menu2">
                <select class="my-menu mx-auto justify-content-center">
                    <option value="Computer">Computer</option>
                    <option value="Civil">Civil</option>
                    <option value="Electerical">Electrical</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="EC">EC</option>
                    <option value="all">All</option>
                </select>
            </div>
        </td>
        </tr>
        <tr>
            <td>
                <div class="text-white M-1">
                    <h2>Company</h2>
            </td>
            </div>
            <td>
                <div class="menu2">
                    <select class="my-menu mx-auto justify-content-center">
                        <option value="TCS">TCS</option>
                        <option value="TATV SOFT">TATV SOFT</option>
                        <option value="SHALIGRAM">SHALIGRAM</option>
                        <option value="INFOSIS">INFOSYS</option>
                        <option value="RLOGICAL">RLOGICAL</option>
                        <option value="all">All</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-button mx-auto justify-content-center"> <button type="sumbit"
                        value="serach">serach</button></div>
            </td>

        </tr>
        </table>
        </div>
        </div>
        </div>
        <!--stduent-info-->
        <div class="heading1"></div>
        <div class="student-info mx-auto justify-content-center h4 text-center font-weight-bold text-white mb-4 ">
            <h1>Student <span> Info</span></h1>
        </div>
        </div>*@

        <!--table data-->
    <div class="depaprtment hearderset">
        <img src="~/images/placement.jpg" />
        <h2 class="centered text-white">Placement</h2>
    </div>
    
    <div class="clearfix "></div>
    <div class="container">


        <div style="overflow-x:auto;" class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <td rowspan="2" style="vertical-align: middle; text-align:center;">Branch</td>
                        <td rowspan="2" style="vertical-align: middle; text-align: center;">Year</td>
                        <td rowspan="2" style="vertical-align: middle; text-align: center;">Passout Students</td>
                        <td colspan="4" style="vertical-align: middle; text-align: center;">Placement</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">Placed</td>
                        <td style="text-align:center;">Higher Study</td>
                        <td style="text-align:center;">Business</td>
                        <td style="text-align:center;">Placement(%)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="vertical-align: middle;">Civil Engineering</td>
                        <td style="text-align:right;">2020-21</td>
                        <td style="text-align:right;">58</td>
                        <td style="text-align:right;">17</td>
                        <td style="text-align:right;">7</td>
                        <td style="text-align:right;">2</td>
                        <td style="text-align:right;">45</td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">2021-22</td>
                        <td style="text-align:right;">63</td>
                        <td style="text-align:right;">5</td>
                        <td style="text-align:right;">9</td>
                        <td style="text-align:right;">3</td>
                        <td style="text-align:right;">27</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="vertical-align: middle;">Mechnical Engineering</td>
                        <td style="text-align:right;">2020-21</td>
                        <td style="text-align:right;">92</td>
                        <td style="text-align:right;">12</td>
                        <td style="text-align:right;">11</td>
                        <td style="text-align:right;">4</td>
                        <td style="text-align:right;">29</td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">2021-22</td>
                        <td style="text-align:right;">114</td>
                        <td style="text-align:right;">22</td>
                        <td style="text-align:right;">3</td>
                        <td style="text-align:right;">0</td>
                        <td style="text-align:right;">22</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="vertical-align: middle;">Electrical Engineering</td>
                        <td style="text-align:right;">2020-21</td>
                        <td style="text-align:right;">62</td>
                        <td style="text-align:right;">24</td>
                        <td style="text-align:right;">12</td>
                        <td style="text-align:right;">0</td>
                        <td style="text-align:right;">58</td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">2021-22</td>
                        <td style="text-align:right;">51</td>
                        <td style="text-align:right;">13</td>
                        <td style="text-align:right;">0</td>
                        <td style="text-align:right;">0</td>
                        <td style="text-align:right;">25</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="vertical-align: middle;">Computer Science and Engineering</td>
                        <td style="text-align:right;">2020-21</td>
                        <td style="text-align:right;">109</td>
                        <td style="text-align:right;">42</td>
                        <td style="text-align:right;">22</td>
                        <td style="text-align:right;">4</td>
                        <td style="text-align:right;">62</td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">2021-22</td>
                        <td style="text-align:right;">113</td>
                        <td style="text-align:right;">58</td>
                        <td style="text-align:right;">24</td>
                        <td style="text-align:right;">5</td>
                        <td style="text-align:right;">77</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="vertical-align: middle;">Electronics and Communication</td>
                        <td style="text-align:right;">2020-21</td>
                        <td style="text-align:right;">23</td>
                        <td style="text-align:right;">12</td>
                        <td style="text-align:right;">4</td>
                        <td style="text-align:right;">1</td>
                        <td style="text-align:right;">74</td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">2021-22</td>
                        <td style="text-align:right;">21</td>
                        <td style="text-align:right;">3</td>
                        <td style="text-align:right;">5</td>
                        <td style="text-align:right;">2</td>
                        <td style="text-align:right;">48</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>