
@{
    ViewData["Title"] = "VissionMission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/tpovision.css">
}

<div class="header-block d-flex align-items-center mx-auto">
    <img src="~/images/tpo/tpo.jpg.jpg" alt="Training And Placement Cell">
    <div class="text-block mx-auto text-block mx-auto d-flex align-items-center justify-content-center ">
        Training And Placement Cell
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="tpo-block col shadow p-4 m-4 bg-dark text-white">
            <div class="headings h4 mx-3">VISION</div>
            <div class="px-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur optio ea enim reiciendis, modi
                necessitatibus recusandae consectetur accusamus asperiores dicta at earum a, laudantium
                exercitationem
                nam amet dolorum fugiat qui.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem delectus omnis nobis eveniet,
                dolorem ut minima iusto ad. Pariatur earum deserunt enim ipsam harum tempore adipisci? Delectus,
                praesentium accusamus eos, inventore dignissimos rem aliquam perspiciatis tenetur officia rerum,
                odio
                quas.
            </div>
        </div>
        <div class="tpo-block col shadow p-4 m-4 bg-light">
            <div class="headings h4 mx-3">MISSION</div>
            <div class="px-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quisquam reprehenderit possimus ea
                expedita libero sed natus, repellat ut amet vero cum aperiam laudantium deleniti debitis dignissimos
                doloribus! Voluptatibus, non.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi aliquam, non quasi nihil
                alias
                odio aperiam laudantium corporis tempore laborum pariatur porro vitae tempora eveniet facilis sint
                perspiciatis commodi tenetur qui. Architecto saepe illo porro excepturi in! Voluptatibus, quam.
            </div>
        </div>

    </div>
</div>

