@using System.Web
@{
    ViewData["Title"] = "VissionMission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/css/tpovision.css">
}

<div class="header-block d-flex align-items-center mx-auto">
    <img src="~/images/tpo/tpo.jpg.jpg" alt="Training And Placement Cell">
    <div class="text-block mx-auto text-block mx-auto d-flex align-items-center justify-content-center ">
        Training And Placement Cell
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="tpo-block col shadow p-4 m-4 bg-dark text-white">
            <div class="headings h4 mx-3">VISION</div>
            @foreach(var vision in Model.vision){
                @if (vision.DeptId >= 800 && vision.DeptId <= 899)
                {
                        <div class="px-3">
                        @Html.Raw(HttpUtility.HtmlDecode(vision.Description))

                        </div>
                }
            }
        </div>
        <div class="tpo-block col shadow p-4 m-4 bg-light">
            <div class="headings h4 mx-3">MISSION</div>
            @foreach (var mission in Model.mission)
            {
                @if (mission.DeptId >= 800 && mission.DeptId <= 899)
                {
                                <div class="px-3">
                        @Html.Raw(HttpUtility.HtmlDecode(mission.Description))

                                </div>
                }
            }
        </div>

    </div>
</div>

