@{
    ViewData["Title"] = "Home Page";
    Layout = "~/views/shared/_layout.cshtml";
}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images\1.jpg" class="d-block w-100 h-30vw" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images\2.jpg" class="d-block w-100 h-30vw" alt="...">
        </div>
        <div class="carousel-item">
            <img src="images\3.jpg" class="d-block w-100 h-30vw" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev mr-t-15vw" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next mr-t-15vw" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="my-3">
    <div class="row">
        <div class="col-md-6">
            <div class="NA-head pl-2 h4 ml-2 my-1">News & Announcement</div>
            <div class="NA-content bg-brown white mt-4 ml-2">
                <!-- <p>
                   <div class="row">
                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl2 para">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                    neque auctor eu. Curabitur lectus</p>
                   </div>
                   <div class="row">
                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl2 para">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                    neque auctor eu. Curabitur lectus</p>
                   </div>
                   <div class="row">
                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl2 para">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                    neque auctor eu. Curabitur lectus</p>
                   </div>
                   <div class="row">
                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl2 para">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                    neque auctor eu. Curabitur lectus</p>
                   </div>
                </p> -->
                <marquee scrollamount="3" direction="up" onmouseover="stop();" scrollamount="2" onmouseout="start();" loop="500" style="height: 100%; background-color: transparent;">
                    <nav id="sidebar">
                        <ul id="newupdates" class="list-unstyled components">

                            <li>
                                <div class="row">
                                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl-2 para">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                                        neque auctor eu. Curabitur lectus
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl-2 para">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                                        neque auctor eu. Curabitur lectus
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl-2 para">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                                        neque auctor eu. Curabitur lectus
                                    </p>
                                </div>

                            </li>

                            <li>
                                <div class="row">
                                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl-2 para">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                                        neque auctor eu. Curabitur lectus
                                    </p>
                                </div>
                            </li>



                            <!-- <li> <a href="http://acpdc.co.in/request" target="_blank" class="parentLink">
                                    <img src="Content/img/new.gif"><b>સીટુડીના</b> જે ઉમેદવારોના રજિસ્ટ્રેશન
                                    વખતે જરૂરી પ્રમાણપત્રો/દસ્તાવેજો ઉપલબ્ધ ન હોય તેવા કિસ્સાઓમાં હવે
                                    રજિસ્ટ્રેશન એપ્લિકેશનમાં તેઓની વિગતોમાં (જેવી કે કેટેગરી/TFWS વગેરેમાં)
                                    સુધારા માટે જરૂરી પ્રમાણપત્રો/દસ્તાવેજો આ ફોર્મમાં ભરી ૧૪/૦૭/૨૦૨૨ સુધીમા અપલોડ
                                    કરવાના રહેશે.
                                </a>
                            </li>

                            <li>
                                <a href="http://acpdc.co.in/Content/information/2022/CtoD/ctod_query_docs_15-06-2022.pdf"
                                    target="_blank" class="parentLink"><img src="Content/img/new.gif">સીટુડી
                                    પ્રવેશ અંગે અગત્યની સૂચના</a>
                            </li> -->

                            <li>
                                <div class="row">
                                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl-2 para">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                                        neque auctor eu. Curabitur lectus
                                    </p>
                                </div>
                            </li>


                            <li>
                                <div class="row">
                                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl-2 para">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                                        neque auctor eu. Curabitur lectus
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl-2 para">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                                        neque auctor eu. Curabitur lectus
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl-2 para">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                                        neque auctor eu. Curabitur lectus
                                    </p>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <i class="fa fa-hand-point-right yellow t-150 symb"></i><p class="pl-2 para">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit. Vivamus gravida aliquet quam sed ultrices. Duis consectetur dui ligula, in bibendum
                                        neque auctor eu. Curabitur lectus
                                    </p>
                                </div>

                            </li>


                        </ul>

                    </nav>
                </marquee>
            </div>
        </div>
        <div class="col-md-6">
            <div class="NA-head ml-2 h4 my-1">Events</div>
            <!-- <div class="sliding" id="manual"></div>
            <div class="row mt-3 w-90">
                <div class="row w-132p mr-auto justi-saround">
                    <div class="t-200 align-center white bg-blue square-50p align-middle cursor" onClick="prev()">&#60;
                    </div>
                    <div class="t-200 align-center white bg-blue square-50p align-middle cursor" onClick="next()">&gt;
                    </div>
                </div>
                <div class="bg-blue white ReadMore align-middle pad-2 cursor">Read More</div>
            </div> -->
            <div id="carouselExampleControls" class="carousel slide mt-4 ml-2" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images\1.jpg" class="d-block w-100 h-17vw" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images\2.jpg" class="d-block w-100 h-17vw" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="images\3.jpg" class="d-block w-100 h-17vw" alt="...">
                    </div>
                </div>
                <div class="mt-3 col-11">
                    <div class="row">
                        <div class="w-13vw mr-auto justi-saround">
                            <div class="row">
                                <a class="carousel-control-prev depaprtment bg-blue" href="#carouselExampleControls"
                                   role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next depaprtment bg-blue" href="#carouselExampleControls"
                                   role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="bg-blue white ReadMore align-middle p-2 cursor">Read More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-brown white slogan-container">
    <div class="row">
        <div class="slogan">विद्या विहीन: पशु:</div>

        <div class="verline bg-blue"></div>

        <div class="slogan">वदि्या एव सर्वधनम्</div>

    </div>
</div>
<div class="WC-head">Why Choose GEC, Patan?</div>
<div class="horline bg-blue"></div>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail wcg">
            <div class="img-container circle br-blue square-120p">
                <i class="fa fa-desktop t-500 d-flex justify-content-center mt-4" aria-hidden="true"></i>
            </div>
            <div class="caption hov-blue align-center"> Seven different courses provided </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3">
        <div class="thumbnail wcg">
            <div class="img-container circle br-blue square-120p">
                <i class="fa fa-user-circle-o t-500 d-flex justify-content-center mt-3" aria-hidden="true"></i>
            </div>
            <div class="caption hov-blue align-center"> Highly Educated Faculties </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3">
        <div class="thumbnail wcg">
            <div class="img-container circle br-blue square-120p">
                <i class="fa fa-book t-500 d-flex justify-content-center mt-3" aria-hidden="true"></i>
            </div>
            <div class="caption hov-blue align-center"> Library with book across nation </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-3">
        <div class="thumbnail wcg">
            <div class="img-container circle br-blue square-120p">
                <i class="fa fa-users t-500 d-flex justify-content-center mt-3" aria-hidden="true"></i>
            </div>
            <div class="caption hov-blue align-center"> Different commities to help you grow </div>
        </div>
    </div>
</div>

<!-- OLD Carousel -->
<!-- <div id="s-container-1"></div>
<div id="s-container-2"></div>
<div id="s-container-3"></div>
<div id="s-container-4"></div>
<div class="nav-manual mr-t-23 left-48">
    <div class="nav-btn white-border" onClick="s2()" id="p2"></div>
    <div class="nav-btn white-border" onClick="s1()" id="p1"></div>
</div> -->
<!-- <div class="placement mt-3">
    <div class="IP">Incredible Placement</div>
    <div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="s-container-1"></div>
                <div id="s-container-2"></div>
                <div id="s-container-3"></div>
                <div id="s-container-4"></div>
            </div>
            <div class="carousel-item">
                <div id="s-container-5"></div>
                <div id="s-container-6"></div>
                <div id="s-container-7"></div>
                <div id="s-container-8"></div>
            </div>
        </div>
    </div>
</div> -->
<!-- OWL Carousel -->
<div class="placement mt-3">
    <div class="IP">Incredible Placement</div>

    <div class="mt-4 mx-auto">
        <div class="owl-carousel owl-theme" id="owlIndex2">
            <div class="item p-2">
                <img src="images/p1.jpg" alt="">
            </div>
            <div class="item p-2">
                <img src="images/p2.jpg" alt="">
            </div>
            <div class="item p-2">
                <img src="images/p3.jpg" alt="">
            </div>
            <div class="item p-2">
                <img src="images/p4.jpg" alt="">
            </div>
            <div class="item p-2">
                <img src="images/1.jpg" alt="">
            </div>
            <div class="item p-2">
                <img src="images/2.jpg" alt="">
            </div>
            <div class="item p-2">
                <img src="images/3.jpg" alt="">
            </div>
            <div class="item p-2">
                <img src="images/4.jpg" alt="">
            </div>
        </div>
    </div>
</div>
